.adminAddProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.isClick {
  border: 5px solid red;
}
.mainIsClick {
  display: flex;
  flex-direction: column;
  height: auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  display: flex;
}
.name {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  min-height: 70px;
}
.name > span {
  cursor: pointer;
}
.nameIsClick {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 70px;
  min-height: 70px;
}
.nameIsClick > input {
  width: 80%;
}
.upIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.topRight {
  width: 100%;
  flex-basis: 60%;
  display: flex;
  border-left: 1px solid var(--main-color);
}
.category {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.createdAt {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.price > input {
  width: 80%;
}
.bottom {
  width: 100%;
  display: flex;
}
.bottomLeft {
  flex: 1;
  display: flex;
}
.textarea {
  width: 100%;
  min-height: 410px;
  height: auto;
  resize: none;
  padding: 5px;
}
.bottomRight {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.list {
  border-top: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  height: auto;
}
.listTip {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin: 10px 0;
}
.imageList {
  display: flex;
  flex-direction: column;
  height: 270px;
  min-height: 270px;
  overflow: auto;
  width: 100%;
}
.addButton {
  width: 100%;
}
.addButton > button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: #f9f9f9;
}
.addButton button:hover {
  cursor: pointer;
  border: 3px solid var(--main-color);
  background-color: #f9f9f9;
  color: var(--font-color);
}

.stockList {
  display: flex;
  flex-direction: column;
  height: 140px;
  min-height: 140px;
  overflow: auto;
  width: 100%;
}
.productCardButton {
  display: flex;
}
.isNew {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.isNew > select {
  background-color: white;
}
.productCardButton > button {
  cursor: pointer;
  width: 50%;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: #f9f9f9;
}
.productCardButton button:hover {
  cursor: pointer;
  border: 3px solid var(--main-color);
  background-color: #f9f9f9;
  color: var(--font-color);
}
.mobilePrice {
  display: none;
}

@media (max-width: 768px) {
  .price {
    display: none;
  }
  .name {
    flex-basis: calc(100% / 3);
  }
  .topRight {
    flex-basis: calc(100% / 1.5);
  }
  .category {
    flex-basis: 50%;
  }
  .createdAt {
    flex-basis: 50%;
  }
  .bottom {
    flex-direction: column;
  }
  .mobilePrice {
    display: flex;
    flex-direction: row;
  }
  .mobilePrice > label {
    flex-basis: 20%;
  }
  .mobilePrice > input {
    flex: 1;
    width: 100%;
  }
}
