.mainCenter {
  margin-top: 32px;
  display: flex;
  text-align: right;
  width: 100%;
}
.product {
  display: flex;
  flex: 1;
  width: 100%;
}
.image {
  display: flex;
  text-align: left;
  width: 66px;
  min-width: 66px;
  margin-right: 24px;
  flex: 0 0 auto;
}
.productDetail {
  flex: 1;
  text-align: left;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}
.size > p {
  text-transform: uppercase;
}
.price {
  width: 180px;
}
.qtyAndRemove {
  width: 90px;
  margin: 0 24px;
  text-align: center;
}
.total {
  width: 120px;
}
.image img {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 200/300;
}
@media (max-width: 768px) {
  .product {
    flex-direction: column;
    padding-right: 24px;
  }
  .productDetail {
    flex: 0 0 auto;
  }
  .price {
    width: 100%;
    text-align: left;
  }
  .qtyAndRemove {
    width: 90px;
    margin: 0;
    text-align: left;
  }
  .total {
    display: none;
  }
}
