.auth {
  width: 100%;
  min-height: 100vh;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.searchBar {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--main-color);
}

.searchBar > select {
  text-align: center;
  cursor: pointer;
  flex-basis: 10%;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.searchBar > select:focus {
  outline: none;
}

.searchBar > input {
  flex: 1;
  border: none;
  padding: 10px;
}

.searchBar > input:focus {
  outline: none;
}

.searchBar > button {
  cursor: pointer;
  flex-basis: 10%;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.top {
  display: flex;
  border: 1px solid var(--main-color);
}

.topUser {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topMenu {
  border-left: 1px solid var(--main-color);
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.topMenu > span {
  cursor: pointer;
}

.topMenu > select {
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  padding: 1px;
}

.selected {
  color: red;
}

.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 5%;
  gap: 10px;
}

.selectPage {
  border-bottom: 1px solid var(--main-color);
}

.page span {
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .topMenu {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
  .searchBar > select {
    flex-basis: 20%;
  }
  .searchBar > button {
    flex-basis: 20%;
  }
  .topMenu {
    flex: 1;
    flex-direction: column;
  }
  .topOrder {
    display: none;
  }
  .topAdmin {
    display: none;
  }
  .topMenuFinish {
    flex: 1;
    flex-direction: column;
  }
  .page {
    margin: 25px 20px;
  }
}
