@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: 1.5em;
  color: var(--font-color);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --font-color: #2b3072;
  --main-color: #2b3072;
  --gray-color: #cacbdc;
  --graygray-color: rgba(18, 17, 16, 0.6);
}
input,
button {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
}
input {
  line-height: 1.5em;
}
label {
  color: var(--graygray-color);
}
a {
  color: var(--font-color);
  text-decoration: none;
}
select {
  border: 1px solid var(--main-color);
  color: var(--font-color);
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}
searchBar > select:focus {
  outline: none;
}
