.notFound {
  width: 100%;
  height: 100svh;
  padding: 96px 0;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.top {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center a {
  border-bottom: 1px solid var(--font-color);
}
@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
}
