.shippingAndReturns {
  width: 100%;
  min-height: 100svh;
  padding: 96px 0;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.top {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
}
