.navOn {
  position: fixed;
  inset: 0px;
  z-index: 4444;
  display: block;
  background-color: white;
  overflow: auto;
  width: 100%;
  height: 100svh;
}
/* .navOff {
  position: fixed;
  inset: 0px;
  z-index: -9999;
  display: none;
  background-color: transparent;
} */
.top {
  background-color: transparent;
  width: 100%;
  height: 75px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}
.top > span {
  display: flex;
  cursor: pointer;
}
.main {
  margin: 40px 0;
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main span {
  font-size: 1rem;
  cursor: pointer;
}
.menu {
  display: flex;
}
.menu span {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}
.search {
  cursor: pointer;
  margin: 20px 0;
}
.account {
  display: flex;
  margin-top: 20px;
}
.account span {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .top {
    padding: 10px 20px;
  }
  .main {
    padding: 0 20px;
  }
}
