.sales {
  width: 100%;
  min-height: 100svh;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.top {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.center {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.day {
  margin: 24px 0;
}
@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
}
