.sales {
  width: 100%;
  min-height: 100svh;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.center {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.bottom {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-left: 1px solid var(--main-color);
}
.ranking {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-color);
  padding-bottom: 32px;
}
.rankingTop {
  height: 45px;
  min-height: 45px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--main-color);
}
.rankingTopRanking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
}
.rankingTopQty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
  border-left: 1px solid var(--main-color);
}
.rankingMain {
  display: flex;
  flex-direction: column;
}
.rankingArrayNull {
  margin-top: 32px;
  padding-left: 5px;
}
@media (max-width: 768px) {
  .main {
    padding: 0 20px;
  }
  .rankingTop {
    height: 70px;
    min-height: 70px;
  }
  .rankingTopRanking {
    flex-basis: 20%;
  }
  .rankingTopQty {
    flex-basis: 20%;
  }
  .day {
    flex-direction: column;
  }
  .dayAir {
    display: none;
  }
}
