.search {
  width: 100%;
  min-height: 100dvh;
  padding: 96px 0;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.searchBar {
  display: flex;
  flex-direction: row;
  margin: 25px 5%;
  border-bottom: 1px solid var(--main-color);
}
.searchBar > input {
  flex: 1;
  border: none;
}
.searchBar > input:focus {
  outline: none;
}
.searchBar > button {
  cursor: pointer;
  flex-basis: 10%;
  border: none;
  background-color: transparent;
  padding: 5px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 25px 0;
  padding: 0 2.5%;
}
.null {
  margin: 40px 0;
  padding: 0 5%;
  text-align: center;
}
@media (max-width: 768px) {
  .searchBar {
    margin: 25px 20px;
  }
  .products {
    padding: 0 10px;
  }
  .null {
    padding: 0 10px;
  }
}
