.success {
  width: 100%;
  height: 100svh;
  padding: 96px 0;
}
.main {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.goOrder {
  display: flex;
}
.goOrder > p > a {
  border-bottom: 1px solid var(--main-color);
}
@media (max-width: 768px) {
  .success {
    padding: 96px 20px;
  }
}
