.searchOn {
  position: fixed;
  inset: 0px;
  z-index: 5555;
  display: block;
  background-color: white;
}
.searchOff {
  position: fixed;
  inset: 0px;
  z-index: -9999;
  display: none;
  background-color: transparent;
}
.top {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}
.top > span {
  display: flex;
  cursor: pointer;
}
.main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  width: 50%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--main-color);
}
.searchBar > input {
  flex: 1;
  border: none;
}
.searchBar > input:focus {
  outline: none;
}
.searchBar > button {
  cursor: pointer;
  flex-basis: 20%;
  border: none;
  background-color: transparent;
  padding: 5px;
}
@media (max-width: 768px) {
  .top {
    padding: 10px 20px;
  }
  .searchBar {
    width: 90%;
  }
  .searchBar > button {
    flex-basis: 30%;
  }
}
